/*Login */

.wrap .search-input {
  width: 30%;
  margin-left: 20%;

}

.wrap .search-input input[type="text"] {
  width: 130px;
  height: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 3em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: 0.1em;
}
  /* When the input field gets focus, change its width to 100% */

.wrap .search-input input[type="text"]:focus {
  width: 90%;
  border-color: var(--main-orange);
  outline: none;
  color: var(--main-orange);
}


.wrap .login {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.login .login-section a {
  color: var(--main-orange);
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 1em;
}
.login .login-section a:hover {
  color: white;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 13em;
  height: 2em;
  margin-top: 0.3em;
  border-radius: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: 0.1em;
  color: white;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: var(--main-orange);
  color: var(--main-orange);
}

.wrap .login .login-section {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  height: 2em;
  justify-content: space-between;
}

.wrap .login .login-button {
  width: 2em;
  height: 2em;
  border-radius: 1em;
}
.wrap .login .login-button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px grey;
}

.wrap .login .button-login,
.button-signup,
.button-signout {
  border-radius: 2em;
  background-color: transparent;
  border: solid 0.1em white;
  color: white;
  padding-right: 1em;
  padding-left: 1em;
}
.wrap .login .button-login:hover,
.button-signup:hover,
.button-signout:hover {
  cursor: pointer;
  border-color: var(--main-orange);
  color: var(--main-orange);
}


input:focus::-webkit-input-placeholder {
  color: transparent;
}